.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6
{
    font-size: inherit !important;
}

.HyperMD-header {
    padding-bottom: 0 !important;
}

.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
    font-size: inherit !important;
}
