<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ .Title }} — codedbearder</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/asvvvad/mono-color@1.2/light.min.css" media="">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/asvvvad/mono-color@1.2/dark.min.css" media="(prefers-color-scheme: dark)">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/asvvvad/mono-color@1.2/mono-color.min.css">
</head>
<body>
	<div class="container">
		<div class="content">
			<h1>{{ .Title }}</h1>
			<article>
				{{ if not .Placeholder }}
				{{ .Body }}
				{{ else }}
				<h4>⚠️ 🚧 This note does not really exist! 🚧 ⚠️</h4>
				<p>Another note mentioned this one so I will most likely add some content here in the future.</p>
				{{ end }}
			</article>
			{{ if gt (len .Backlinks) 0 }}
			<h3>Notes mentioning this note</h3>
			<ul>
				{{ range $_, $backlink := .Backlinks }}
					<li>
						<a href="{{$backlink.Path}}">{{$backlink.Title}}</a>
					</li>
				{{ end }}
			</ul>
			{{ end }}
		</div>
	</div>
</body>
</html>
